{% extends 'global/base.html' %}

{% block content %}
  <div class="single-contact">
    <h1 class="single-contact-name">
      {{ contact.first_name }} {{ contact.last_name }}
    </h1>

    <p><b>ID:</b> {{ contact.id }}</p>
    <p><b>E-mail:</b> {{ contact.email }}</p>
    <p><b>Phone:</b> {{ contact.phone }}</p>
    <p><b>Created Date:</b> {{ contact.created_date }}</p>
    <p><b>Description:</b> {{ contact.description }}</p>
    <p><b>Category:</b> {{ contact.category.name }}</p>

    {% if contact.picture %}
      <p>
        <img src="{{ contact.picture.url }}" alt="{{ contact.first_name }} {{ contact.last_name }}">
      </p>
    {% endif %}

    {% if user == contact.owner %}
      <div class="contact-links">
        <a class="btn btn-link" href="{% url 'contact:update' contact.id %}">Update</a>

        <form action="{% url 'contact:delete' contact.id %}" method="POST">
          {% csrf_token %}

          {% if confirmation == 'no' %}
            <input type="hidden" name="confirmation" value="yes">
            <button class="btn btn-link btn-delete" type="submit">Confirma?</button>
          {% else %}
            <button class="btn btn-link btn-delete" type="submit">Delete</button>
          {% endif %}
        </form>
      </div>
    {% endif %}


  </div>
{% endblock content %}