{% extends 'global/base.html' %}

{% block content %}
  <div class="form-wrapper">

    <h2>Contact</h2>
    
    <form 
      action=""
      method="POST"
      enctype="multipart/form-data"
    >

      <div class="form-content">
        <div class="form-group">
          <label for="id_first_name">LABEL</label>
          <input type="text" name="first_name" maxlength="255" id="id_first_name">
        </div>
      </div>

      <div class="form-content">
        <div class="form-group">
          <button class="btn" type="submit">Send</button>
        </div>
      </div>

    </form>
  </div>
{% endblock content %}